body {
    background-color: #262626;
}

nav, footer {
    background-color: #0D0D0D;
}

div.portfolio {
    background-color: #202020;
    padding: 5%;
}

.box {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid blue;
}

div.download-button{
    margin: 5%;
}