<section class="bg-zinc-900 w-screen lg:px-64 md:px-32 py-16 px-16 flex items-center">
    <div class="text-2lg text-center text-gray-400 space-y-12">
        <h2 class="text-4xl font-bold text-center mb-12 text-purple-500">Sobre Mim</h2>
        <p class="m-4-lg">
            Olá! Sou <strong>Lucas Silva</strong>, um desenvolvedor apaixonado por tecnologia e inovação. Atualmente, estou focado em desenvolvimento back-end e machine learning engineering, buscando criar soluções que impactem positivamente a vida das pessoas. Minha jornada na programação começou com o IFPR Colombo, no curso técnico em informatica, e desde então venho expandindo meus conhecimentos em diferentes áreas da tecnologia.
        </p>
        <p>
            Tenho experiência com diversas tecnologias e ferramentas, incluindo <strong>Python, .NET, C#, Pytorch, JavaScript, TypeScript, SQL, PostgreSQL, MySQL, MongoDB, Redis, Docker, Git, GitHub, Azure, AWS</strong>. Estou sempre em busca de aprender novas tecnologias e metodologias, mantendo-me atualizado com as últimas tendências do mercado. Minha paixão pela programação me motiva a criar soluções eficientes e inovadoras, sempre focando na qualidade e na experiência do usuário.
        </p>
        <p>
            Bem-vindo ao meu portfólio! Aqui você encontrará uma amostra dos meus projetos e habilidades, demonstrando minha dedicação e compromisso com o desenvolvimento de software de qualidade.
        </p>
    </div>
</section>